<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Server=localhost;Port=5432;Database=GBM_pSQL;User Id=postgres;Password=123;" providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="pSQL" value="false"/>
	</appSettings>

</configuration>